{% extends 'layout.html' %}
{% block title %}Sign Up{% endblock %}
{% block body %}

<form method="POST" action="{{ url_for('frontend.signup') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 

  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].name }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}

  <label for="username">Username</label>
  <div>
    {{ form.username(class='autofocus', autofocus=True) }}
  </div>

  {{ form.password.label }}
  <div>
    {{ form.password }}
  </div>

  {{ form.confirm.label }}
  <div>
    {{ form.confirm }}
  </div>

  {{ form.email.label }}
  <div>
    {{ form.email }}
  </div>

  <button type="submit" name="submit" class="button_secondary">Sign Up</button>
</form>

{% endblock %}


